:host {
  padding: 8px;
  width: 100%;
  height: 100%;
  position: relative;
}

.image-canvas {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay-canvas {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
