@use '@angular/material' as mat;

:host {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.main-layout {
  display: grid;
  grid-template-areas: 'header header' 'sidepanel contentpanel';
  grid-template-columns: 20% 1fr;
  grid-template-rows: auto 1fr;
  width: 100%;
  height: 100%;
}

.header {
  grid-area: header;
  z-index: 20;
  @include mat.elevation(4);
}

.side-panel {
  grid-area: sidepanel;
  z-index: 10;
  @include mat.elevation(4);
}

.content-panel {
  grid-area: contentpanel;
}
