:host {
  background: #ccc;
  display: flex;
  flex-flow: column nowrap;
  overflow-y: scroll;
  gap: 4px;
  padding: 4px;
}

.folder-entry {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: default;

  &:hover {
    background: #ddd;
  }
}

.entry-icon {
  flex-shrink: 0;
}

.entry-name {
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
