:host {
  display: flex;
  flex-flow: column nowrap;
  overflow-y: auto;
  gap: 4px;
  padding: 8px 4px 4px;
}

.folder-entry {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: default;
  padding: 2px;
  border-radius: 4px;

  &:hover {
    background: #eee;
  }
}

.empty-list-message {
  color: #999;
  pointer-events: none;
}

.entry-icon {
  flex-shrink: 0;
}

.entry-name {
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
